<div class="mb-3">
	<label for="search-input" class="form-label">City</label>
	<input #input type="text" class="form-control" id="search-input" placeholder="Type please city name">
</div>

<ng-container *ngIf="weatherForecast$ | async as weather">
	<table class="table">
		<thead>
		<tr>
			<th>City name</th>
			<td *ngFor="let item of weather[mode.HOURLY];">
				{{item.temp}}
			</td>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>{{(city$ | async)?.name}}</td>
			<td *ngFor="let item of weather[mode.HOURLY]">
				{{item.temp}}
			</td>

		</tr>
		</tbody>
	</table>
</ng-container>
