<div class="mb-3">
	<label for="search-input" class="form-label">City</label>
	<input #input type="text" class="form-control" id="search-input" placeholder="Type please city name" [value]="searchQueryParam$ | async">
</div>

<ng-container *ngIf="mode$ | async as mode">
	<ul class="nav nav-tabs">
		<li class="nav-item" *ngFor="let item of modes">
			<a class="nav-link" [class.active]="mode === item" (click)="changeMode(item)">{{item}}</a>
		</li>
	</ul>

	<bp-weather-table [weatherData]="weather$ | async" [city]="city$ | async"></bp-weather-table>

</ng-container>

